footer {
    background: #38b6be;
    color:aliceblue;
    
    /* margin-top: auto; */
    position: absolute;
    bottom: 0;
    width: 100%;
}
.div_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: flex-end;
}
.parr_edit {
    text-align: center;
    margin-right: 1rem;
}

.logo_rrss {
    width: 1.5rem;
    filter: invert();
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
}